
 body {
    font-family:"Montserrat";
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
}
 a{
    text-decoration: none;
    color: rgba(34,54,69,7);
    font-weight: 500;
}

.navbar {

    padding: 10px 10px;
}
.navbar-toggler {
    border: none;
    padding: 10px 6px;
    outline:none;
}
/* .navbar-toggler-span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
} */
.navbar-nav .btn{
    background-color: aqua;
    color: rgb(0, 0, 0);
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: 10px;
}
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    
}

.header.header-scrolled {
    background: rgba(0, 0, 0, 0.85);
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
.navbar-nav .btn:hover{
    background-color:aliceblue;
}


/* .body{
    background-color: aquamarine;
} */