body {
    background-color: black;
}

.container {
   margin-top: 100px;
}

.price {
    float: right;
    font-size: 65px;
}

.eth {
    background-color: skyblue;
    margin-bottom: 50px;
    border-radius: 10px;
    height: 180px;
}

.btc {
    background-color: lightgreen;
    margin-bottom: 50px;
    border-radius: 10px;
    height: 180px;
}

.matic {
    background-color: pink;
    border-radius: 10px;
    height: 180px;
}

.matic-img {
    width: 38px;
    margin-bottom: 10px;
}
